@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-internal-18aek0g {
    display: none;
}

.cl-internal-b3fm6y {
    display: none;
}

.cl-internal-br64d7 {
    height: 200%;
}

.cl-internal-11ewti4 {
    height: 50px;
    width: 50px;
}